pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.hl-code .hll { background-color: #49483e }
.hl-code { background: #272822; color: #F8F8F2 }
.hl-code .c { color: #959077 } /* Comment */
.hl-code .err { color: #ED007E; background-color: #1E0010 } /* Error */
.hl-code .esc { color: #F8F8F2 } /* Escape */
.hl-code .g { color: #F8F8F2 } /* Generic */
.hl-code .k { color: #66D9EF } /* Keyword */
.hl-code .l { color: #AE81FF } /* Literal */
.hl-code .n { color: #F8F8F2 } /* Name */
.hl-code .o { color: #FF4689 } /* Operator */
.hl-code .x { color: #F8F8F2 } /* Other */
.hl-code .p { color: #F8F8F2 } /* Punctuation */
.hl-code .ch { color: #959077 } /* Comment.Hashbang */
.hl-code .cm { color: #959077 } /* Comment.Multiline */
.hl-code .cp { color: #959077 } /* Comment.Preproc */
.hl-code .cpf { color: #959077 } /* Comment.PreprocFile */
.hl-code .c1 { color: #959077 } /* Comment.Single */
.hl-code .cs { color: #959077 } /* Comment.Special */
.hl-code .gd { color: #FF4689 } /* Generic.Deleted */
.hl-code .ge { color: #F8F8F2; font-style: italic } /* Generic.Emph */
.hl-code .ges { color: #F8F8F2; font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.hl-code .gr { color: #F8F8F2 } /* Generic.Error */
.hl-code .gh { color: #F8F8F2 } /* Generic.Heading */
.hl-code .gi { color: #A6E22E } /* Generic.Inserted */
.hl-code .go { color: #66D9EF } /* Generic.Output */
.hl-code .gp { color: #FF4689; font-weight: bold } /* Generic.Prompt */
.hl-code .gs { color: #F8F8F2; font-weight: bold } /* Generic.Strong */
.hl-code .gu { color: #959077 } /* Generic.Subheading */
.hl-code .gt { color: #F8F8F2 } /* Generic.Traceback */
.hl-code .kc { color: #66D9EF } /* Keyword.Constant */
.hl-code .kd { color: #66D9EF } /* Keyword.Declaration */
.hl-code .kn { color: #FF4689 } /* Keyword.Namespace */
.hl-code .kp { color: #66D9EF } /* Keyword.Pseudo */
.hl-code .kr { color: #66D9EF } /* Keyword.Reserved */
.hl-code .kt { color: #66D9EF } /* Keyword.Type */
.hl-code .ld { color: #E6DB74 } /* Literal.Date */
.hl-code .m { color: #AE81FF } /* Literal.Number */
.hl-code .s { color: #E6DB74 } /* Literal.String */
.hl-code .na { color: #A6E22E } /* Name.Attribute */
.hl-code .nb { color: #F8F8F2 } /* Name.Builtin */
.hl-code .nc { color: #A6E22E } /* Name.Class */
.hl-code .no { color: #66D9EF } /* Name.Constant */
.hl-code .nd { color: #A6E22E } /* Name.Decorator */
.hl-code .ni { color: #F8F8F2 } /* Name.Entity */
.hl-code .ne { color: #A6E22E } /* Name.Exception */
.hl-code .nf { color: #A6E22E } /* Name.Function */
.hl-code .nl { color: #F8F8F2 } /* Name.Label */
.hl-code .nn { color: #F8F8F2 } /* Name.Namespace */
.hl-code .nx { color: #A6E22E } /* Name.Other */
.hl-code .py { color: #F8F8F2 } /* Name.Property */
.hl-code .nt { color: #FF4689 } /* Name.Tag */
.hl-code .nv { color: #F8F8F2 } /* Name.Variable */
.hl-code .ow { color: #FF4689 } /* Operator.Word */
.hl-code .pm { color: #F8F8F2 } /* Punctuation.Marker */
.hl-code .w { color: #F8F8F2 } /* Text.Whitespace */
.hl-code .mb { color: #AE81FF } /* Literal.Number.Bin */
.hl-code .mf { color: #AE81FF } /* Literal.Number.Float */
.hl-code .mh { color: #AE81FF } /* Literal.Number.Hex */
.hl-code .mi { color: #AE81FF } /* Literal.Number.Integer */
.hl-code .mo { color: #AE81FF } /* Literal.Number.Oct */
.hl-code .sa { color: #E6DB74 } /* Literal.String.Affix */
.hl-code .sb { color: #E6DB74 } /* Literal.String.Backtick */
.hl-code .sc { color: #E6DB74 } /* Literal.String.Char */
.hl-code .dl { color: #E6DB74 } /* Literal.String.Delimiter */
.hl-code .sd { color: #E6DB74 } /* Literal.String.Doc */
.hl-code .s2 { color: #E6DB74 } /* Literal.String.Double */
.hl-code .se { color: #AE81FF } /* Literal.String.Escape */
.hl-code .sh { color: #E6DB74 } /* Literal.String.Heredoc */
.hl-code .si { color: #E6DB74 } /* Literal.String.Interpol */
.hl-code .sx { color: #E6DB74 } /* Literal.String.Other */
.hl-code .sr { color: #E6DB74 } /* Literal.String.Regex */
.hl-code .s1 { color: #E6DB74 } /* Literal.String.Single */
.hl-code .ss { color: #E6DB74 } /* Literal.String.Symbol */
.hl-code .bp { color: #F8F8F2 } /* Name.Builtin.Pseudo */
.hl-code .fm { color: #A6E22E } /* Name.Function.Magic */
.hl-code .vc { color: #F8F8F2 } /* Name.Variable.Class */
.hl-code .vg { color: #F8F8F2 } /* Name.Variable.Global */
.hl-code .vi { color: #F8F8F2 } /* Name.Variable.Instance */
.hl-code .vm { color: #F8F8F2 } /* Name.Variable.Magic */
.hl-code .il { color: #AE81FF } /* Literal.Number.Integer.Long */